# Data stuctures in python

In [1]:
L = [1,3,4,6,7.8,"karan"] #list
T = (1,2,3,4.8,"name") #tuple
S = {1,2,3,4.8,"name"} #set
D = {23:"twothree", 'name' : ' Karan'} #dict -- like object in Js

In [2]:
print("The type of L is", type(L))

The type of L is <class 'list'>

In [5]:
print(L[1])
print(T[1])
print(3 in S)
print(D[23])

3
2
True
twothree

In [6]:
L[1:3] # same like string

[3, 4]

In [7]:
T[:3] # 0 to 2

(1, 2, 3)

### Tuple is immutable

In [8]:
L.append(9.6)

In [9]:
print(L)

[1, 3, 4, 6, 7.8, 'karan', 9.6]

In [10]:
T2 = ('a','b',5)
T3 = T+T2
print(T3)

(1, 2, 3, 4.8, 'name', 'a', 'b', 5)

In [11]:
D['newKey']= "newValue"

In [12]:
D

{23: 'twothree', 'name': ' Karan', 'newKey': 'newValue'}

In [13]:
S.remove("name")
print(S)

{1, 2, 3, 4.8}

In [14]:
L

[1, 3, 4, 6, 7.8, 'karan', 9.6]

In [15]:
L2 = L.copy()

In [16]:
L2

[1, 3, 4, 6, 7.8, 'karan', 9.6]

In [17]:
L2[2]

4

In [19]:
 D2 = {'A':L, 'B':T, 'C':S}

In [21]:
D2['A']

[1, 3, 4, 6, 7.8, 'karan', 9.6]

In [25]:
L3 = [x**2 for x in range(10)]

In [26]:
L3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
"""You are a teacher and you have diff student records containing id of a student and the marks list in each 
subject wherer different sudents have taken diff subjects.
All these records are in a hard cipy. You want to enter all the data in computer and want to compute the average 
marks of each student and display"""

def getDataFromUser():
    D = {} #empty dictionary to store marks
    while True:
        studentId = input("Enter Student ID :")
        marksList = input("Enter the marks with comma sepreated values:")
        moreStudents = input("yes/no : ")
        if studentId in D:
            print(studentId, "is already inserted")
        else:
            D[studentId] = marksList.split(",")
        if moreStudents.lower() == "no":
            return D

In [ ]:
getDatafromUser

In [ ]:

def getAvgMarks(D):
    avgMarks = {}
    for x in D:
        L = D[x]
        s = 0
        for marks in L:
            s += int(marks)
        avgMarks[x] = s/len(L)
    return avgMarks